/* line 72, icons/*.png */
.icons-sprite, .icons-calendar, .icons-clock, .icons-mail, .icons-user {
  background-image: url('/images/icons-s0d3f082303.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calendar {
  background-position: 0 0;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-clock {
  background-position: 0 -48px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -96px;
}

/* line 84, ../../../../.rvm/gems/ruby-2.1.4/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user {
  background-position: 0 -144px;
}

/* line 10, ../sass/styles.sass */
.sprites div {
  display: block;
  height: 48px;
  width: 58px;
}
